extends layout

block content
  h1= title

  a.btn.btn-success(href="/costumes/create") Create New Costume
  br
  br

  table.table
    thead
      tr
        th Type
        th Size
        th Cost
        th Actions
    tbody
      each item in results
        tr
          td #{item.costume_type}
          td #{item.size}
          td #{item.cost}
          td
            a.btn.btn-info(href=`/costumes/detail?id=${item._id}`) Detail
            a.btn.btn-primary.ml-1(href=`/costumes/update?id=${item._id}`) Update
            a.btn.btn-danger.ml-1(href=`/costumes/delete?id=${item._id}`) Delete
